{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
    <article class="center cf pv5 measure-wide-l">
      <h1>
      Not nothing, exactly—but probably not what you were looking for.
      </h1>
	  <body>
		  <blockquote>The difficulty in recognizing the impossibility of a vacuum seems to arise primarily because we do not sufficiently consider that nothing can have no properties; otherwise, seeing that there is true extension in the space we call empty, and consequently all the properties necessary for the nature of body, we would not say that it was wholly empty, that is, mere nothingness.</blockquote>
		  
		  —René Descartes, Letter to Antoine Arnauld, 29 July 1648 (AT V 223).
	  </body>
    </article>
{{ end }}
